<h3>all books</h3>
<div class = "container">
  <div class="row">
    <div class="col-md-6">
      <form action="<%= books_path %>">
        <input type="text" placeholder="So, What are you planning to buy today?" name="search_key">
        <button type="submit">Search</button>
      </form>
    </div>
    <%= form_tag books_path, remote: true do %>
      <%= select_tag :sort_by, options_for_select(["name","title","description", "auther_name","price"])%>
      <%= select_tag :sort_order, options_for_select(['asc', 'desc'])%>
      <%= button_tag(:type => 'button') do %>
        <% link_to 'button'%>
      <% end %>
    <% end %>
    </div>
  </div>  
</div>

<table>
  <thead>
    <tr>
      <th><%= link_to "name", books_path(order: 'name'), class: "name", :data => { :sort_by => 'name', :sort_order => 'asc' } %></th>
      <th><%= link_to "AutherName", books_path(order: 'AutherName'), class: "AutherName"%></th>
      <th><%= link_to "Title", books_path(order: 'title'),class: "title" %></th>
      <th><%= link_to "Description", books_path(order: 'Description') ,class: "Description"%></th>
     <th> <%= link_to "Price", books_path(order: 'Price') ,class: "Price"%></th>

      <%#= link_to "name", 'javascript:;', class: 'my-class', data: { 'array' => %w(name) } %>
      <th>Cover</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name%></td>
        <td><%= book.auther_name %></td>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= book.price %></td>
        <td><%= image_tag(book.cover, class: 'book-image') %></td>
        <td><%= button_to 'view', book, method: :get %></td>
        <td><%= button_to "Edit", edit_book_path(book),method: :get %></td>
      <td><%= button_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $('#sort_book').on('click', function(){
    debugger
    sort_by = $('#sort_by').val();
    sort_order = $('#sort_order').val();
    Rails.ajax({
      url: "/books",
      type: "get",
      data: {'sort_by': sort_by, 'sort_order': sort_order},
      success: function(data) {
        debugger
      },
      error: function(data) {}
    }) 
  });
</script>
<style type="text/css">
  .book-image{
    width: 100px;
    height: 100px;
  }
  .row{
    display: flex;
    justify-content: space-between;
  }
</style>