<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: 30px;">
        <% if @current_user.present? && @current_user.normaluser?  %>
          <%#= button_to 'Sig In', sign_in_path %></br>
         <%= link_to 'log out',logout_path,class:"nav-link",method: :delete%>
         

          <!-- <li><%#= link_to 'show all user', users_path %></li> -->
          <!-- <li><%#= link_to 'show all category', categories_path %></li> -->
      <% elsif @current_user.present? && @current_user.admin? %>
          <li class="nav-item">
          <%= link_to 'log out',logout_path,class:"nav-link",method: :delete%></li>
          <li><%= link_to 'show all books', books_path %></li>
          <li><%= link_to 'show all user', users_path %></li>
          <li><%= link_to 'show all categries', categories_path %></li>
           </li>
      <% else %>
          <%= button_to 'Sig In', sign_in_path,method: 'get' %></br>
          <%= button_to 'signup', sign_up_path, method: 'get', class:"nav-link"%>
         </li>
  <% end %>
  